body {
	border: 20px solid #BDC3C7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	/*width: 60%;*/
	margin: 20px auto;
	/*margin: 1% 20%;*/
	font-family: Source Sans Pro;

}

h3 {
	color: #3498DB;
/*	margin: 1.5%; DON'T NEED THIS DUE TO PADDING IN BODY */
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	/*letter-spacing: .1em;*/
}

h2 {
	color: #2C3E50;
/*	margin: 1.5%; DON'T NEED THIS DUE TO PADDING IN BODY */
	font-size: 2.0rem;
}

/* DON'T NEED THIS DUE TO PADDING IN BODY
p {
	margin: 1.5%;
}*/

div p:nth-of-type(1) {
	border-left: 5px solid #BDC3C7;
	/*border-left: solid #BDC3C7;*/
	padding-left: 5px;
	/*padding-left: 0.5%;*/
}

/*.first {
	border-left: solid #BDC3C7;
}*/

.post {
	margin-bottom: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*hr {
	margin: 20px auto;
	margin: 1.5%;
	color: #BDC3C7;
}*/
